page-release {
    #body{
        background-color: #f9f9f9;
    }
    .box{
        background-color: white;
        border:1px solid #e5e5e5;
        margin:20px 4%;
        text-align:center;
    }
    .box img{
        width:33px;
        margin-top:5px;
    }
    .box p{
        font-size: 17px;
    }
}
