page-my {
    #top{
        text-align: center;
    }
    #top p{
        color:#d6d6d6;
    }
    #top h5{
        color:#b6b6b6;
    }
    #top img{
        margin-left:20%;
    }
    #top-btn{
        float: right;
        margin-top:5px;
        font-size:12px;
        width:20%;
        height:25px;
        border:1px solid #fedb47;
        color:#fedb47;
        background-color:rgba(0,0,0,0);
    }
    #but1{
        width:80%;
        margin-left: 10%;
        background-color: #fedb47;
        margin-top:50px;
    }
}
