page-message {
    #body{
        background-color: #eeeeee;
    }
    .search{
        width:80%;
        border-radius: 20px;
        border:1px solid;
        height:40px;
        margin-left: 10%;
        margin-top:10px;
        margin-bottom: 10px;
    }
}
